.left_user
  .left_user__action
    %h.tag ユーザー情報
    %il.list 出品する 
    = icon('fa', 'arrow',class: 'icon')
    -# = link to 
    %il.list 出品中 
    %il.list 出品履歴 
    %il.list 購入履歴
  .left_user__configration
    %h.tag ユーザー設定
    %il.list プロフィール
    %il.list クレジット情報
    %il.list ログアウト