.left_user
  .left_user__action
    %h.tag ユーザー情報
    .list 
      -# = link_to new_item_path do
      %il 
        出品する
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        出品中
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        出品履歴
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        購入履歴
        %ul
          %li
            .fas.fa-chevron-right
  .left_user__configration
    %h.tag ユーザー設定
    .list
      %il 
        プロフィール
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        =link_to 'クレジット情報', '/card/show'
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        =link_to 'クレジット登録','/card/new'
        %ul
          %li
            .fas.fa-chevron-right
