.left_user
  .left_user__action
    %h.tag ユーザー情報
    .list 
      %il 
        出品する
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        出品中
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        出品履歴
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        出品中
        %ul
          %li
            .fas.fa-chevron-right
  .left_user__configration
    %h.tag ユーザー設定
    .list
      %il 
        プロフィール
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        クレジット情報
        %ul
          %li
            .fas.fa-chevron-right
    .list
      %il 
        ログアウト
        %ul
          %li
            .fas.fa-chevron-right