.wapper
  = render 'toppages/toppage_header'

  .user_main_contents
    = render 'side_user'
    .right_user
      .user_top 
        %ul 商品一覧
      .side_tab
        .tab_contents

  = render 'toppages/toppage_footer'




 