.wapper
  .header_user //川崎さんから

  .user_main_contents
    = render 'side_user'
    .right_user
      .user_top 
        = image_tag "/assets/pic_user.jpg", class:"image_user", alt: "test"
      .side_tab
        .tag_right 履歴
        .tag_left 出品中
      .tab_contents
      .tab_contents1

  .footer



 