.pcContent-contentInner_image3_footer{
  height:400px;
  width:100vw;
  &_image3{
    height:400px;
    width:100vw;
    position: relative;
    &_main3{
      .main3{
        height:400px;
        width:100vw;
      }
    }
    &_text3{
      text-align: center;
      .text1-1{
        position: absolute;
        color: gainsboro;
        font-weight: bold;
        font-size: 30px;
        top:100px;
        left:500px;
      }
      .text2-1{
        position: absolute;
        color: gainsboro;
        font-weight: bold;
        font-size: 30px;
        top:150px;
        left:550px;
      }
    }
    &_link3{
      .button1-1{
        height: 105px;
        width: 220px;
        position: absolute;
        top:235px;
        left: 750px; 
      }
      .button2-1{
        height: 80px;
        width: 200px;
        position: absolute;
        top:250px;
        left: 460px; 
      }
    }
  }
  &-color{
    background-color: black;
    height:400px;
    width:100vw;
    
    &_block{
      background-color: black;
      height:250px;
      width: 100vw;
      color: #fff;
      display: flex;
      justify-content: space-evenly;
      padding: 100px 70px 0 115px;
      .p{
        height:250px;
        width: 500px;
        color: #fff;
      }
    
      &-icon{
        margin: 0  620px;
        .image5{
          height:80px;
          width: 180px;
        }
      } 
      &-corp{
        text-align: center;
        // display: flex;
        .c{
          color:white;
          text-align: center;
          justify-content: center;
        }
      }
    }
  } 
}