.pcContent-contentInner_image3_footer
  
  .pcContent-contentInner_image3_footer-color
    .pcContent-contentInner_image3_footer-color_block
      %p.text 
        フリマについて
        %br
        会社概要（運営会社）
        %br
        プライバシーポリシー
        %br
        　フリマ利用規約
        %br
        ポイントに関する規約
      %p.text1-1
        furimaを見る
        %br
        カテゴリー一覧
        %br
        ブランド一覧
      %p.text1-2
        ヘルプ＆ガイド
        %br
        フリマガイド
        %br
        フリマロゴ利用ガイドライン
        %br
        お知らせ
       
    .pcContent-contentInner_image3_footer-color_block-icon
      = image_tag "logo-white.png", class:"image5", alt:"ほげ"
    .pcContent-contentInner_image3_footer-color_block-corp
      %small.c ©FURIMA

      

      