-# .pcHeader
.wapper
  = link_to new_item_path do
    
    .exhibitionIcon
      .exhibitionIcon__text
        出品する
      .fas.fa-camera.fa-6x
  = render 'toppages/toppage_header'
  = render 'toppages/toppage_middle'
  = render 'toppages/toppage_footer'