.error{
  font-size: 20px;
  font-weight: bold;
  color: red;
  text-align: center;
}
.exhibitionHeader{
  height: 128px;
  @include flexbox($justify-content: center);

  &__logo{
    width: 220px;
  }
}

.main{
  width: 100%;

  &__exhibitionContents{
    background: $menuBackground;
    width: 700px;
    margin: 0 auto;

    &__title{
      height: 90px;
      text-align: center;
      line-height: 90px;
      font-size: 1.5rem;
      font-weight: bold;
      
    }

    &__pictures{
      padding: 40px;
      height: 30%;
      @include border;
    }

    &__itemDescription{
      padding: 40px;
      height: 100%;
      @include border;

      &__details__field{
        width: 100%;
        height: 45px;
        padding: 0 10px;
      }
      #child_category{
        margin: 10px 0;
      }
    }

    &__delivery{
      padding: 40px;
      height: 375px;
      @include border;
    }

    &__result{
      padding: 40px;
      height: 370px;
      @include border;

      &__sellingPrice,
      &__commission{
        padding: 20px 0;
        @include border;
      }

        .main__exhibitionContents__result__totalPrice{
          background: $menuBackground;
          width: 100%;
          height: 45px;

          #item_price{
            font-size: 16px;
            background: white;
            width: 100%;
            height: 45px;
          }
        }
        &__profit{
          @include flexbox($justify-content: space-between);
          padding: 20px 0;
          ul{
            display: flex;
            align-items: center;
            li{
              font-size: 21px;
              font-weight: bold;
              margin-right: 10px;
            }
          }
        }
    }

    &__text{
      padding: 40px;
      height: 340px;

      .main__exhibitionContents__submit__btn{
        background: $mainColorBlue;
        height: 50px;
        width: 100%;
        margin-top: 50px;
      }

      .main__exhibitionContents__back__btn{
        color: black;
        background: $btnColorGray;
        display: block;
        height: 50px;
        width: 50%;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
        margin: 20px auto 0;
      }
    }
  }
}

.exhibitionFooter{
  text-align: center;

  ul{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    li{
      padding: 40px 10px 0;

    }
  }

  &__logo{
    background: #f7f7f7;
    border-radius: 10px;
    width: 200px;
    margin: 30px 0 0;
  }

  &__copyright{
    margin-bottom: 40px;
  }
}



.main__exhibitionContents__information{
  display: flex;
  align-items: center;
  margin:10px 0;

  li + li{
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: red;
    height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    margin-left: 10px;

  }

  .main__exhibitionContents__information--any{
    background: #b3b3b3;
  }
}


#item_category_id,
#item_status_id,
#item_postage_id,
#item_region_id,
#item_shipping_date_id,
#item_brand{
  background: white;
  width: 100%;
  height: 45px;
  // #price,brandは別枠で指定している
}

#item_brand{
    background: white;
    width: 100%;
    height: 45px;

}
#item_category{
  margin-bottom: 20px;
}
.tablearea{
  width:100%;
  border:solid 1px gainsboro;
  padding: 10px;
  }
.item_category_id{
  background: white;
  width: 100%;
  height: 45px;
  // #price,brandは別枠で指定している
}

.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 122px;
      margin: 0 5px 10px 0;
      .upper-box {
        height: 122px;
        width: 100%;
        img{
          width: 122px;
          height: 122px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;

        .delete-box {
          color: #00b0ff;
          width: 100%;
          height: 40px;
          line-height: 40px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #b6b4b4;
      position: relative;
      background: #e6e4e4;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  //file_fieldのcss
  .hidden-content {
    .hidden-field {
      display: none;
    }
    .hidden-checkbox {
      display: none;
    }
  }
}