//出品履歴
.wapper
  = render 'toppages/toppage_header'
  .sold_main_content
    = render 'users/side_user'
    .right_sold 
      .right_sold__content 
        .sold.history_list
          
  = render 'toppages/toppage_footer'