.wapper{
  .bought_main_content{
    width: 100%;
    display: flex;
    background-color: #ece6e6;
    justify-content: space-between;
    
    .right_bought{
      width: 100vw;
      height: 500px;
      margin-left: 100px;
      &__content{
        height: 100px;
        margin-top: 40px;
        // background-color: springgreen;
        display: flex;
        // float: left;
        align-items: center;
        justify-content: center;
        .bought_list{
          display: block;
          display: flex;
          width: 100%;
          li {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}