.main-content {
  width: 100%;
  height: 1000px;
  background-color: white;
  
  header.main-header {
    height: 128px;
    text-align: center;
 
  }
  main.pay-main {
    display: block;

    section.pay-item-content {
      width: 700px;
      margin: 0 auto;
      background: $menuBackground;

      h2.pay-head {
        padding: 25px;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
      }
      section.pay-item {
        text-align: center;
        padding: 24px 12.5% 0;
        margin: 0;

        .pay-content-info {
          flex-wrap: wrap;
          max-width: 320px;
          margin: 0 auto;
          
          .pay-item__image{
            width: 300px;
            margin: 0 auto;
          }

          .pay-content-info__text{
            
            p.pay-price {
              margin-top: 8px;
              line-height: 1.5;
              font-size: 1.5rem;
              font-weight: bold;
              letter-spacing: 1px;
              @include border;

              span.mop {
                font-size: 15px;
                font-weight: bold;
                display: inline-block;
              }
            }
          }
        }
      }

      section.pay-user-info {
        transition: all ease-out .3s;
        margin-top: 30px;
        padding: 24px 12.5% 0;

        .pay-content-info {
          max-width: 320px;
          margin: 0 auto;
          @include border;
          h3.deli {
            font-size: 1.2rem;
            font-weight: bold;
          }

          .user-info{
            margin-top: 15px;

            .user-info--text{
              font-size: 1.1rem;
              padding: 2px 0;
            }
          }
        }
      }
    }
  }
}

.buyBtn {
  background: aqua;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  font-size: 100%;
}