.main-content {
  width: 100%;
  height: 1000px;
  background-color: white;
  header.main-header {
    height: 128px;
    text-align: center;
 
  }
  main.pay-main {
    display: block;
    section.pay-item-content {
      width: 700px;
      margin: 0 auto;
      background: gainsboro;
      h2.pay-head {
        padding: 16px;
        font-size: 22px;
        text-align: center;
        line-height: 1.5;
      }
      section.pay-item {
        text-align: center;
        padding: 24px 12.5% 0;
        border-top: 1px solid #f5f5f5;
        margin: 0;
        .pay-content-info {
          display: flex;
          flex-wrap: wrap;
          max-width: 320px;
          margin: 0 auto;
          h3.pay-item__image {
            font-size: 22px;
            display: block;
            font-weight: bold;
            img.item-gyazo {
              width: 64px;
              width: auto;
              max-height: 148px;
              opacity: 1;
              transition: opacity .3s;
              vertical-align: middle;
            }
          }
          p.item-text {
            text-align: justify;
            width: 185px;
            margin-left: 15px;
            font-weight: bold;
            font-size: 16px;    
            height: 200px;
          }
          form.pay-form {
            width: 100%;
            p.pay-price {
              margin-top: 8px;
              line-height: 1.5;
              font-size: 22px;
              span.mop {
                margin-left: 8px;
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
              }
            }

            ul.price-table {
              display: table;
              border-collapse: collapse;
              width: 100%;
              list-style-type: disc;
              margin-block-start: 15px;
              margin-block-end: 15px;
              li.price-breakdown {
                border: 0;
                font-size: 18px;
                display: table-row;
                .breakdown:first-child {
                  text-align: left;
                }
                .breakdown {
                  display: table-cell;
                  padding: 16px 0;
                  span.value {
                    font-size: 28px;
                  }
                }
              }
            }
          }
         
        }
      }
      section.pay-user-info {
        transition: all ease-out .3s;
        margin-top: 40px;
        padding: 24px 12.5% 0;
        .pay-content-info {
          max-width: 320px;
          margin: 0 auto;
          h3.deli {
            margin: 0;
            font-size: 14px;
          }
          address.user-info-text {
            margin-top: 8px;
            font-size: 14px;
            line-height: 1.4;
            font-style: normal;

          }
          p.user-info-text {
            margin: 8px 0 0;
            font-size: 14px;
            line-height: 1.4;
          }
          a.user-info-fix {
            display: block;
            text-align: right;
            color: #0099e8;
            text-decoration: none;
            touch-action: manipulation;
            font-size: 13px;
          }
        }
      }
    }
  }
}

.buyBtn {
  background: aqua;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  font-size: 100%;
}