//ボタン
.submitBtn {
  background: #29b744;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity .5s;
  font-size: 100%;
}

.text-center{
  text-align: center;
}

//アカウント新規作成
#signupPage {
  background: gainsboro;
  width: 700px;
  margin: 0 auto;
  margin-top: 10vh;
  .titleArea {
    text-align: center;
    h1 {font-size: 2rem;}
  }
  .container {
    .form-group {
      margin: 0 auto 1.5rem auto;
      max-width: 500px;
        .form-control {
        background: #f6f8fa;
        width:500px;
        height:30px;
        font-size: 100%;
        margin: 0.2rem;
        
      }
    }
  }
}


.form-length{
  text-align: center;
}

// sign_in
.signinPage {
  background: gainsboro;
  width: 700px;
  margin: 0 auto;
  margin-top: 10vh;
  .title {
    margin: 0;
    text-align: center;
  }
  .new_user {
    .form-group {
      max-width: 500px;
      margin: 0 auto 1rem;
      .form-control {
        background: #f6f8fa;
        background: #f6f8fa;
        width:500px;
        height:30px;
        font-size: 100%;        
      }
    }
  }
  .loginBtn {
    padding: 12px;
    width: 200px;
    border-radius: 21px;
    background: #29b744;
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 20px;
    opacity: 1;
    transition: opacity .5s;
    font-size: 100%;
    cursor: pointer;
    &:hover {
      opacity: .7;
    }
  }
}