.pcContent-contentInner{
  &_mainContent{
    .comment{
      height: 50px;
      width: 100vw;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      padding: 30px 0 ;
    }
    .line{
      height:40px;
      width: 100px;
      border-bottom: solid 5px aqua;
      margin: 20px 670px;
    }
  }
  &_image{
    width:1000px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin:0 auto;
    text-align: center;
    .image1{
      height: 300px;
      width: 300px;
    }
    .image2{
      height: 300px;
      width: 300px;
    }
    .image3{
      height: 300px;
      width: 300px;
    }
    .box1{
      height:40px;
      width: 40px;
      background-color: aqua;
      position: absolute;
      color:white;
      font-size: 30px;
      text-align: center;
    }
    .box2{
      height:40px;
      width: 40px;
      background-color: aqua;
      position: absolute;
      color:white;
      left:350px;
      font-size: 30px;
      text-align: center;
    }
    .box3{
      height:40px;
      width: 40px;
      background-color: aqua;
      position: absolute;
      right:260px;
      color:white;
      font-size: 30px;
      text-align: center;
    }
  }
  &_text{
    width:1100px;
    display: flex;
    margin:0 auto;
    
    .image-text1{
      color: aqua;
      font-weight: bold;
      font-size: 25px;
      padding: 30px 0px 0px 40px; 
    }
    .image-text1-2{
      font-weight: bold;
      font-size: 25px;
      padding: 30px 160px 0px 10px;
    }
    .image-text2{
      color: aqua;
      font-weight: bold;
      font-size: 25px;
      padding: 30px 0px 0px 25px; 
    }
    .image-text2-2{
        font-weight: bold;
        font-size: 25px; 
        padding: 30px 160px 0px 10px;
   }
   
    .image-text3{
      color: aqua;
      font-weight: bold;
      font-size: 25px;
      padding:30px 10px 0 10px ;
    }
    .image-text3-2{
        font-weight: bold;
        font-size: 25px;
        padding: 30px 0px 0px 10px;
    } 
  }
  &_comment{
    height: 50px;
    width:100vw;
    text-align: center;
    .image-comment1{
      padding: 0px 30px 40px 0px;
    }
    .image-comment2{
      padding: 0px 90px 40px 0px;
    }
    .image-comment3{
      padding: 0px 40px 40px 0px;
    }
  }
  &_image2{
    height:400px;
    width:100vw;
    position: relative;
    &_main2{
      .main2{
        height: 400px;
        width: 100vw;
      }
    }
    &_text2{
      height:30px;
      width:700px;
      
      .text1-1{
        height:30px;
        font-size: 30px;
        width:500px;
        position: absolute;
        top:90px;
        left:5px;
        color: #fff;
        font-weight: bold;
        text-shadow: 2px 2px #fff, 5px 5px gray;
      }
      .text2-1{
        color: #fff;
        position: absolute;
        top:150px;
        left:150px;
        font-size:20px;
        font-weight: bold;
      }
      .text3-1{
        color: #fff;
        position: absolute;
        top:175px;
        left:150px;
        font-size:20px;
        font-weight: bold;
      }
      .text4-1{
        color: #fff;
        position: absolute;
        top:200px;
        left:150px;
        font-size:20px;
        font-weight: bold;
      }
    }
    &_link2{
      .button1-1{
        height: 80px;
        width: 200px;
        position: absolute;
        top:250px;
        left: 110px; 
      }
      .button2-1{
        height: 110px;
        width: 225px;
        position: absolute;
        top:235px;
        left: 330px; 
      }
    } 
  }
  &_style{
    &-main2{
      .comment1-1{
        height: 50px;
        width: 100vw;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        padding: 30px 0 ;
      }
      .line{
        height:40px;
        width: 100px;
        border-bottom: solid 5px aqua;
        margin: 20px 680px;
      }
    }
  }
  &_image2{
    height: 300px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    text-align: center;
    .image1{
      height:300px;
      width: 300px;
      padding: 0 0 0 100px;
    }
    .image2{
      height:300px;
      width: 300px;
    }
    .image3{
      height:300px;
      width: 300px;
      padding: 0 100px 0 0px;
    }
  }
  &_text2{
    text-align: center;
    margin: 0 auto;
    height:200px;
    .image-text1{
      font-weight: bold;
      font-size: 20px;
      float: left;
      padding: 0px 170px 0px 30px;
    }
    .image-text2{
      font-weight: bold;
      font-size: 20px;
      float: left;
    }
    .image-text3{
      font-weight: bold;
      font-size: 20px;
      float: right;
      padding: 0px 40px 0px 0px;
    }
  }
  &_items{
    &-header{
      height:100px;
      width: 100vw;
      background-color: ghostwhite;
      line-height: 180px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    &-contents{
      background-color: ghostwhite;
      color: aqua;
      height:100px;
      width: 100vw;
      line-height: 70px;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
    }
    &-lists{
      height: 350px;
      width: 100vw;
      display: flex;
      background-color: ghostwhite;
      justify-content: space-evenly;
      .items{
        height:250px;
        width:200px;
        background-color: aqua; 
      }
    }
  }
  &_items2{
    &-header2{
      height:100px;
      width: 100vw;
      background-color: ghostwhite;
      line-height: 180px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    &-contents2{
      background-color: ghostwhite;
      color: aqua;
      height:100px;
      width: 100vw;
      line-height: 70px;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
    }
    &-lists2{
      height: 350px;
      width: 100vw;
      display: flex;
      background-color: ghostwhite;
      justify-content: space-evenly;
      .items2{
        height:250px;
        width:200px;
        background-color: aqua; 
      }
    }
  }
  &_image3{
    height:400px;
    width:100vw;
    position: relative;
    &_main3{
      .main3{
        height:400px;
        width:100vw;
      }
    }
    &_text3{
      text-align: center;
      .text1-1{
        position: absolute;
        color: gainsboro;
        font-weight: bold;
        font-size: 30px;
        top:100px;
        left:500px;
      }
      .text2-1{
        position: absolute;
        color: gainsboro;
        font-weight: bold;
        font-size: 30px;
        top:150px;
        left:550px;
      }
    }
    &_link3{
      .button1-1{
        height: 110px;
        width: 225px;
        position: absolute;
        top:235px;
        left: 750px; 
      }
      .button2-1{
        height: 80px;
        width: 200px;
        position: absolute;
        top:250px;
        left: 470px; 
      }
    }
    &_footer{
      height:400px;
      width:100vw;
      &-color{
        background-color: black;
        height:400px;
        width:100vw;
        
        &_block{
          background-color: black;
          height:250px;
          width: 100vw;
          color: #fff;
          display: flex;
          justify-content: space-evenly;
          padding: 100px 40px 0 115px;
          .p{
            height:250px;
            width: 500px;
            color: #fff;
          }
        
          &-icon{
            margin: 0  640px;
            .image5{
              height:80px;
              width: 180px;
            }
          } 
          &-corp{
            text-align: center;
            .c{
              width:100vw;
              color:white;
              
            }
          }
        }
      } 
    }
  }
}

