.wapper{
  .header_user{ 
    width: 100%;
    height: 200px;
  }
  .user_main_contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f5f3f3;
    .right_user{
      width: 100%;
      .user_top{
        margin: 0 auto;
        max-width: 80%;
        height: 100px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mainColorBlue;
        font-size: 25px;
        font-weight: bold;
        border-left: double 7px #4ec4d3;
        border-right: double 7px #4ec4d3;
      }
      .side_tab{
        // width: 700px;
        .tab_contents{
          margin: 0 auto;
          max-width: 80%;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          border-left: double 7px #4ec4d3;
          border-right: double 7px #4ec4d3;
          border-bottom: double 7px #4ec4d3;
          margin-bottom: 20px;
          ul{
            border: double $mainColorBlue;
            margin-top: 10px;
            margin-bottom: 10px;
            .pro_pic{
              height: 150px;
              width: 200px;
            }
            .pro_name{
              font-weight: bold;
              background-color: $mainColorBlue;
              display: block;
              height: 40px;
              @include flexbox($justify-content: center);
            }
          }
        } 
      }
    }
  }
}